{% extends 'AppBundle::layouts/layout.html.twig' %}

{% block body %}

    <div class="article-box">
        <ul id="category-list" class="list-group">
            {% for category in categories %}
                <li class="list-group-item">
                    <a href="{{ path('category', {'alias': category.alias}) }}">{{ category.name }} ({{ category.count }})</a>
                </li>
            {% endfor %}
        </ul>
        {% if categories is empty %}
            <p{{ 'categories.no-found'|trans }}</li>
        {% endif %}
    </div>

    {{ knp_pagination_render(categories) }}
{% endblock %}